body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #1e90ff, #00ff99);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
}

.container {
  width: 450px;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border: 3px solid black;
}

h2 {
  text-align: center;
}

input, button {
  width: 100%;
  padding: 7px;
  margin-top: 8px;
}

button {
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: darkblue;
}

